# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
output.zip
dist.zip
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

bun.lock
package-lock.json

public/build-version.json

.vscode

0.0.0.0
.env
